@page "/"
<button class="btn btn-primary" @onclick="StartNewGameAsync">Start New Game</button>

@code {
    [Inject] private NavigationManager NavigationManager { get; set; }
    [Inject] private GameState GameState { get; set; }

    private async Task StartNewGameAsync()
    {
        await GameState.StartNewGameAsync();

        NavigationManager.NavigateTo("/game");
    }
}